
.timeline-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative; /* ensure the line position in the back */
  gap: 30px;
  padding: 20px 0;
}

.timeline-container::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 140px;
  right: 140px;
  height: 3px;
  background-color: #e0e0e0; /* color of the horizontal line */
  z-index: 0; /* ensure the line is behind the items */
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* icon parallel */
  gap: 10px;
  position: relative;
  z-index: 1; /* ensure the items are above the line */
}

.timeline-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.timeline-icon {
  font-size: 2.5em;
}

.timeline-date {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff; /* A stylish gray tone */
}

.timeline-content {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-grow: 1;
  max-width: 293px;
}

.timeline-title {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 10px;
  color: #8e44ad;
}

.timeline-description {
  text-align: left;
  font-size: 0.9em;
  color: #666;
}

.certificate-link {
  display: block;
  margin-bottom: 5px;
  color: #be7adb;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.certificate-link:hover {
  color: #8e44ad;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
