/* Estilos generales para el header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px; /* Reduce el padding para que el header sea más pequeño */
  height: 60px; /* Reduce la altura del header */
  background-color: transparent; /* Fondo transparente */
  color: white;
  position: relative;
  z-index: 100; /* Asegura que el header se vea por encima de otros elementos */
}

.logo h1 {
  margin: 0;
  font-size: 36px; /* Reduce el tamaño de la fuente del logo */
  font-weight: bold;
  text-transform: uppercase;
}

.nav {
  display: flex;
  list-style: none;
  gap: 15px; /* Reduce el espacio entre los enlaces */
  margin-right: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  transform: translateX(100%); /* El menú está oculto a la derecha */
  transition: transform 0.3s ease; /* Animación suave */
}

.nav.open {
  transform: translateX(0); /* Mueve el menú a la vista */
}

.nav ul {
  display: flex;
  gap: 15px;
  padding: 0;
}

.nav ul li {
  position: relative;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px; /* Reduce el tamaño del texto del menú */
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px; /* Reduce el padding para que los enlaces sean más pequeños */
  transition: background-color 0.3s;
}

.nav ul li a:hover {
  background-color: #555;
}

/* Botón de menú */
.menu-toggle {
  display: block;
  font-size: 28px; /* Reduce el tamaño del botón */
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 10; /* Asegura que el botón esté encima del menú */
}

/* Mostrar el botón de menú en pantallas pequeñas */
@media (max-width: 768px) {
  .nav {
    display: block; /* Muestra el menú solo cuando está abierto */
  }

  .menu-toggle {
    display: block;
  }

  .header {
    justify-content: space-between;
  }

  .logo h1 {
    font-size: 30px; /* Ajuste del tamaño del logo en pantallas pequeñas */
  }
}
