/* Contenedor del carrusel */
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 500px; /* Aumento la altura para dar más espacio */
    overflow: hidden;
    margin-top: 0px;
  }
  
  /* Botones de navegación */
  .carousel-nav {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-nav.prev {
    left: 10px;
  }
  
  .carousel-nav.next {
    right: 10px;
  }
  
  /* Contenedor de las imágenes */
  .carousel {
    display: flex;
    transition: transform 0.9s ease;
    position: relative;
    width: 100%;
    justify-content: center; /* Asegura que las imágenes estén centradas */
    align-items: center; /* Centra verticalmente las imágenes */
  }
  
  /* Estilo para las imágenes del carrusel */
  .carousel-item {
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  .carousel-image {
    width: 300px; /* Hago las imágenes más grandes */
    height: 500px; /* Aumento la altura */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }
  
  /* Se aplica para la imagen en el centro */
  .carousel-item.active {
    transform: scale(2); /* La imagen activa será más grande */
    opacity: 1;
  }
  
  /* Las imágenes a los lados se ven más pequeñas */
  .carousel-item.side {
    transform: scale(1); /* Hago que las imágenes de los lados se vean más pequeñas */
    opacity: 0.8;
  }
  