/* index.css */

/* Remove margin and padding from body and html */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
